

*{
    padding: 0px;
    box-sizing: border-box;
    margin: opx;
}
body{
    background-image:url(/imige/img.jpg) ;
    

}
form{

    width: 400px;
    background-color: black;
    text-align: center;
    color: white;
    margin-left: 30%;
    border-color: white;
    box-sizing: 5px;
    border-radius: 10px;
    margin-top: 50px;
}
h1{
    font-size: 300%;
    padding-top: 50px;
    color: red;
    margin-bottom: 10px;
}

a{
    color: red;
    padding-top: 5px;
}
.learn{
    padding: 35px;
}
.reem{
    margin-left: 20%;
}
button{
    width: 80px;
    border-radius: 30px;
    height: 30px;
    background-color: red;
    margin-bottom: 10px;
}
input{
    border-radius: 10px;
    margin: 15px 0px;
}
.facebook{
    color: blue;
    display:inline-flex;
    
}